body{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 0.3fr;
    align-items: center;
}

main{
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.container{
    margin-top: 5%;
    background-image: url(../img/pexels-michał-osiński-3454270.jpg);
    /* overflow: hidden;
    position: relative; */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    display: flex;
    flex-direction:row-reverse;
    width: 90%;
    animation: change 17s infinite ease-in-out;
    animation-delay: 3s;
   
}

.caja-Uno{
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: row-reverse;
}

@keyframes change{
   0%
    {
        background-image: url(../img/pexels-michał-osiński-3454270.jpg);
    }
    20%
    {
        background-image: url(../img/wallpaperflare.com_wallpaper.jpg);
    }
    40%
    {
        background-image: url(../img/wallpaperflare.com_wallpaper\ \(1\).jpg);
    }
    60%
    {
        background-image: url(../img/wallpaperflare.com_wallpaper\ \(2\).jpg);
    }
    80%
    {
        background-image: url(../img/wallpaperflare.com_wallpaper\ \(3\).jpg);
    }
    100%
    {
        background-image: url(../img/pexels-michał-osiński-3454270.jpg);
    }
}
.data-clima{
    width: 50%;
    display: flex;
   flex-direction: column;
   height: 100%;
   justify-content: center;
}
.caja-Dos{
    width: 25%;
    opacity: 50%;
    background-color: white;
    height: 100%;
}
.title{
    color: white;
    font-size: 3em;
    margin: 5%;
}
.info-location{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    height: 15%;
    border-bottom: 1px solid white;
    justify-content: center;
    margin-right: 5%;
    margin-left: 5%;
    width: 80%;
    
}
.location h2{
    color: white;
    font-size: 1em;
}
.img-loc{
    width: 50px;
    color: white;
}
.time{
    height: 100%;
}
.grados{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.img-grado{
    width: 100px;
}

.next-day{
    width: 100%;
    height: 100px;
    background-color: wheat;
}
.infoTime{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;

}
.result{
    width: 100%;
    /* height: 50%; */
}
.result h5{
    color: white;
    font-size: 5em;
    font-family:'Roboto', sans-serif;

}
.result h2{
    color: white;
    font-size: 3em;  
    font-family:'Roboto', sans-serif;
}
.result p{
    color: white;
    font-size: 2em;  
    font-family:'Roboto', sans-serif;
}
.caja-resul{
    height: 100%;
    background-color: black;
    opacity: 60%;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.caja{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inp-city{
    background-color: transparent;
    margin-top: 5%;
    border: none;
    color: white;
    text-align: center;
}
.inp-city:focus{
    border-bottom: 2px white;
}
.inp-icon{
    background-color: transparent;
    border: none;
    margin-top: 5%;
    background: url('https://api.iconify.design/bx/search.svg?color=white&width=50&height=50');
    height: 100%;
    background-repeat: no-repeat;
    color: transparent;
    background-size: 50px;
    background-position: center;
}
.detallesClima{
    height: 40%;
    color: white;
    margin: 5%;
    font-family:'Roboto', sans-serif;
    width: 90%;
    font-weight: bold;
    font-size: 1.3em;
}
.containerDos{
    width: 100%;
    display: flex;
    color: white;
    font-family:'Roboto', sans-serif;
    font-size: 2em;
    margin: 5%;
    font-weight: bold; 
	height: 50px;
	overflow: hidden;
	margin-top: 50px;

}
.containerDos p {
    position: absolute;
    font-size: 15px;
    text-align: center;
    color: #fff;
}
@keyframes containerDos {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

.infoClima{
    display: flex;
    width: 100%;
    font-family: 'Roboto', sans-serif
}

.clickBtn{
    display:none;
}
.containerBtn{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 10px;
}
button#newCity {
    display: hidden;
    border-radius: 20px;
    padding: 10px;
    font-weight: bolder;
}
footer{
    display: flex;
    height: 150px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}



@media only screen and (max-width:1500px){

}
@media only screen and (max-width: 990px) {
.result h5 {
        font-size: 4em;
}
.info-clima p{
font-size: larger;
}
.info-location{
    width: 100%;
}
.inp-city{
    width: 100%;
}
}

@media only screen and (max-width:663px){
.caja-Uno{
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.caja-resul{
    width: 100%;
}
.container{
    flex-direction: column-reverse;
}
.info-location{
    height: 30%;
}
.caja{
    width: 100%;
}


.ok{
    border: none;

}
.noOk{
    border-bottom: red 1.5px solid;


}
input:focus{
  outline:none;
  background-color: transparent;
}
.alert-message{
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    font-family:'Roboto', sans-serif;

}
input {
    background-color: transparent;
}
/* footer{
    display: flex;
    height: 150px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
} */
.button#newCity {
    width: 50%;
}
.result h5 {
    font-size: 3em;
}
.result h2 {
    font-size: 2em;
}
.info-clima p{
    font-size: 1em;
}
}